#upd-banner{

	height: 40px;
  background: #800000;
	padding: 0px 20px;

	.up-logo-top {
	  width: 150px;
	  background-image: url(../img/upd.png);
	  background-size: contain;
	  background-position: center;
	  background-repeat: no-repeat;
	}

	ul.pure-menu  {
	  margin-top: 7px;
	}
}

#main-banner {
  padding: 40px;
  text-align: center;
  background: white;

	h3{
		font-family: 'Alegreya SC';
	  margin-top: 10px;
		font-weight: 200;
		font-size: 24px;
	}

	p {
		max-width: 800px;
		padding: 0 20px;
		margin: auto;
	}

	.up-logo-large {
	  width: 60px;
	  height: 60px;
	  margin: auto;
	  background: url("../img/up-logo-large.png");
	  background-size: contain;
	  background-repeat: no-repeat;
	}
}

.top-bar-section ul li > a, .top-bar-section ul li > span {
	font-size: 16px;
	font-weight: 300;

	&.active {
		background: #800000 !important;
		color: white !important;
		font-weight: 500 !important;
	}
}

.top-bar-section .dropdown li >a {
	font-size: 14px;
	font-weight: 300;
}

.home-page {
	h4 {
		font-size: 24px;
		font-family: 'Alegreya SC';
		font-weight: 200;
	}
}




.home-posts {
	.post-title h3 {
		font-family: 'Alegreya SC';
		font-weight: 200;
		font-size: 20px;
		line-height: 30px;
		margin-bottom: 10px;

		transition: color 0.2s;
		color: inherit;

		&:hover {
			text-decoration: underline;
			color: #800000;
		}

	}

	.posts-enter:not(.uil-ring-css) {
		position: relative;
		top: 10px;
  	opacity: 0.00;
	}


	.posts-enter.posts-enter-active:not(.uil-ring-css) {
		top: 0px;
		opacity: 1;
	  transition: opacity 300ms ease-in, top 300ms linear;
	}

	.posts-leave{
	  opacity: 1;
	}

	.posts-leave.posts-leave-active {
	  opacity: 0.00;
	  transition: opacity 300ms ease-in, top 300ms linear;
	}

	.date {
		font-size: 14px;
		color: transparentize($paragraph-color, 0.5);
	}

	.post-preview  {
		p {
			color: transparentize($paragraph-color, 0.5);
			font-size: 14px;
			}
		a > span {
			font-size: 14px;
			color: #800000;
			text-decoration: underline;
		}
	}
}

.sidebar_wrapper {
	background-color: #0a4424;
	padding: 30px;
	color: white;

	h4 {
		font-size: 24px;
		font-family: 'Alegreya SC';
		font-weight: 200;
	}

	.post-title h3 {
		font-family: 'Alegreya SC';
		font-weight: 200;
		font-size: 16px;
		line-height: 30px;
		margin-bottom: 10px;

	}

	.date {
		font-size: 14px;
		color: transparentize(white, 0.5);
	}

	.post-preview p {
		color: transparentize(white, 0.5);
		font-size: 14px;
	}
}

.pagination {
	position: absolute;
	right: 0;
	div {
		display: inline-block;
		padding: 0 20px;
		color: #434343;
		cursor: pointer;

		&:hover {
			text-decoration: underline;
		}
	}
}

@media (max-width: '650px') {
	.top-bar {
		display: none;
	}
}

@media print {
	.top-bar {
		display: none;
	}
}
